@{
    ViewData["Title"] = "Sistema SGL V 1.0";
}

<div class="text-center">
    <h1 class="display-4">Sistema SGL V 1.0</h1>
</div>
<div>
    <ul>
        <li>Desenvolvido em ASP.NET Core 2.2 com arquitetura Clean DDD</li>
        <li>ORM Entity Framework Core 2</li>
    </ul>
</div>
